.page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 4vmin 0;
}

.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Onest Bold', sans-serif;
    font-size: 8vmin;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.logo svg {
    max-width: 10vmin;
    max-height: 10vmin;
    margin: 0 1vmin 0 0;
    padding: 1vmin 1vmin 1vmin 0;
    height: 100%;
}

.dark .logo svg {
    fill: #ff9371;
}

.light .logo svg {
    fill: #ef5525;
}

.message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40vmin;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

span {
    font-size: 8vmin;
}

.dark span {
    color: #ffffffb2;
}

.light span {
    color: #000000b2;
}

.err {
    font-family: 'Onest Bold', sans-serif;
    font-size: 10vmin;
}

.dark .err {
    color: #ff9371;
}

.light .err {
    color: #ef5525;
}

.no {
    font-size: 4vmin;
}

.dark .no {
    color: #ffffffb2;
}

.light .no {
    color: #000000b2;
}

@media (max-width: 768px) {
    .page {
        padding: 8vmin 0;
    }

    .message {
        width: 50vmin;
    }

    span {
        font-size: 9vmin;
    }

    .err {
        font-size: 11vmin;
    }
}
