.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Onest Bold', sans-serif;
    font-size: 8vmin;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo svg {
    max-width: 10vmin;
    max-height: 10vmin;
    margin: 0 1vmin 0 0;
    padding: 1vmin 1vmin 1vmin 0;
    height: 100%;
}

.dark .logo svg {
    fill: #ff9371;
}

.light .logo svg {
    fill: #ef5525;
}

.info {
    text-align: left;
    font-size: 4vmin;
}

.dark .info {
    color: #ffffffb2;
}

.light .info {
    color: #000000b2;
}

.telegram {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4vmin;
    padding: 1.5vmin 3vmin;
    -webkit-border-radius: 2vmin;
    -moz-border-radius: 2vmin;
    border-radius: 2vmin;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #222222cc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.dark .telegram {
    background-color: #222222cc;
}

.light .telegram {
    background-color: #eeeeeecc;
}

.dark .telegram:hover {
    background-color: #333333cc;
}

.light .telegram:hover {
    background-color: #ddddddcc;
}

.telegram svg {
    max-width: 6vmin;
    max-height: 6vmin;
    margin: 0 1vmin 0 0;
    padding: 1vmin 1vmin 1vmin 0;
    height: 100%;
}

.dark .telegram svg {
    fill: #ff9371;
}

.light .telegram svg {
    fill: #ef5525;
}

.page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 5vmin 15vmin;
    height: 100%;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 12vmin 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.screenshots {
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: 50% 50%;
}

.dark .screenshots {
    background-image: url('../images/screenshots-dark.png');
}

.light .screenshots {
    background-image: url('../images/screenshots-light.png');
}

.screenshots::before {
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #903147;
    -webkit-filter: blur(50vmin);
    filter: blur(50vmin);
    z-index: -1;
    -webkit-animation: fade 10s ease-in-out infinite;
    -moz-animation: fade 10s ease-in-out infinite;
    -o-animation: fade 10s ease-in-out infinite;
    animation: fade 10s ease-in-out infinite;
}

@media (max-width: 1024px) {
    .page {
        padding: 4vmin 8vmin;
    }
}

@media (max-width: 768px) {
    .page {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10vmin;
    }

    .section {
        padding: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .screenshots {
        padding: 0;
    }

    .info {
        text-align: center;
    }

    .telegram {
        padding: 3vmin 8vmin;
        -webkit-border-radius: 3vmin;
        -moz-border-radius: 3vmin;
        border-radius: 3vmin;
    }
}

@-webkit-keyframes fade {
    0%,
    100% {
        width: 40%;
        height: 40%;
    }
    50% {
        width: 60%;
        height: 60%;
    }
}

@-moz-keyframes fade {
    0%,
    100% {
        width: 40%;
        height: 40%;
    }
    50% {
        width: 60%;
        height: 60%;
    }
}

@-o-keyframes fade {
    0%,
    100% {
        width: 40%;
        height: 40%;
    }
    50% {
        width: 60%;
        height: 60%;
    }
}

@keyframes fade {
    0%,
    100% {
        width: 40%;
        height: 40%;
    }
    50% {
        width: 60%;
        height: 60%;
    }
}
